#checkin_btn:hover,
#emails_btn:hover,
#events_btn:hover,
#participents_btn:hover{
    -fx-background-color:  #9b9ea3;
    -fx-text-fill: #fff;
}

#checkin_btn,
#emails_btn,
#events_btn,
#participents_btn{
    -fx-background-color:  #575759;
    -fx-text-fill: #c4c0c0;
    -fx-font: normal bold 18px 'sans-serif';
}
